// $shadow: 
// margin
// padding

// color reference
$gray_shadow: #686868;
$black: #000;

//palette 1:
$darkbrown: #463f3a;
$darkgray: #8a817c;
$softgray: #bcb8b1;
$white: #f4f3ee;
$oldpink: #e0afa0;

$mediumbrown: #9c6644;
$chocobrown: #7f5539;
$palidbrown: #b08968;
$softbrown: #ddb892;
$softerbrown: #e6ccb2;
$mediumwhite: #ede0d4;

// font
