@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


@font-face {
  font-family: 'cinematografica';
  src: local('cinematografica'), url('./assets/fonts/cinematografica-cufonfonts/Cinematografica-Bold-trial.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-light';
  src: url('./assets/fonts/avenir-light_MncpU/AvenirLight/AvenirLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-bold';
  src: url('./assets/fonts/Avenir-Black.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;  
}

h1 {
  font-family: 'cinematografica';
}